/*comuns*/
.floatLeft {float:left;}
.floatRight {float:right;}
.clear {clear:both;}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
#loader_envio {background:url('../img/loader_bar.gif');width:30%;height:20px;margin:10px auto;border:#ccc 1px solid;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#loader_envio .loader {background:#c00;width:10%;height:18px;display:block;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;opacity:0.4;filter:alpha(opacity=40);}

table td.col-md-1 {text-align:center;}
table tfoot tr {background:#fff !important;}

/*diversos*/
input[type="text"]:focus,input[type="password"]:focus,textarea:focus {background:#FFFFBF;}
form input[type="text"], form input[type="password"], textarea {width:100%;}
label {width:100%;}
.width100Percent {width:100% !important;}
.txtCenter {text-align:center !important;}
.carregando {display:none;margin:0 20px;}
.table.table-hover.table-bordered td.first {width:70%;}